{% extends 'layout.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="new-entry">
      <h2>New Entry</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="title">Title</label>
        <input id="title" type="text" name="title"
               value="{{ form.title.data or '' }}" required><br>
        <label for="date">Date</label>
        <input id="date" type="date" name="date"
               value="{{ form.date.data }}" required><br>
        <label for="time">Time Spent (in minutes)</label>
        <input id="time" type="text" name="time"
               value="{{ form.time.data or '' }}" required><br>
        <label for="learned">What I Learned</label>
        <textarea id="learned" rows="5"
                  name="learned">{{ form.learned.data or '' }}</textarea>
        <label for="resources">Resources to Remember</label>
        <textarea id="resources" rows="5"
                  name="resources">{{ form.resources.data or '' }}</textarea>
        <label for="tags">Tags</label>
        <input id="tags" type="text" name="tags"
               value="{{ form.tags.data or '' }}"><br>
        <input type="submit" value="Publish Entry" class="button">
        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}